*.pyc
*.db
hosts
*.cfg
*.python-version
*.py[cod]

# Emacs
*#
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Virtualenv
.Python
bin
lib
include

# Mac OS X custom attribute files
.DS_Store


.vagrant/
instance/

# pycharm settings
.idea

# js packages
src/static/bower_components/
node_modules/

*.log
