SQLALCHEMY_DATABASE_URI = 'sqlite:///dhbox-docker.db'
SECURITY_RECOVERABLE = True
SECURITY_USER_IDENTITY_ATTRIBUTES = 'name'
SECRET_KEY = 'something secret'
TESTING = False
DEMO_ENABLED = True
SERVER_TESTING = True
DEFAULT_HOSTNAME = 'localhost'
REDIS_URL = 'redis://localhost'
ADMIN_PASS = 'asecret'
ADMIN_EMAIL = 'fake@fake.com'
INSTITUTION = 'CUNY Graduate Center'
