{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description" : "AWS CloudFormation template for DH Box",
    "Resources": {
        "NewServer": {
            "Type": "AWS::EC2::Instance",
            "Properties": {
                "ImageId": "ami-27363d4e",
                "InstanceType": "t1.micro",
                "KeyName": "stevess",
                "UserData": {
                    "Fn::Base64": "#!/bin/sh\nsudo cfn-init -s DHBox --region us-east-1 -r NewServer\n"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Init": {
                    "config": {
                        "packages": {
                            "apt": {
                                "apache2": [],
                                "shellinabox": []
                            }
                        },
                        "sources": {
                            "/var/www/html": "https://s3.amazonaws.com/engelke/public/webcontent.zip"
                        },
                        "services": {
                            "sysvinit": {
                                "apache2": {
                                    "enabled": "true",
                                    "ensureRunning": "true"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}