{% extends "layout.html" %}
{% block body %}
<h1 class="h1-top">Administration</h1>
<br/>
<table class="table table-striped">
    <th>Owner</th>
    <th>Time Up</th>
    <th>Time Left</th>
    <th>Button</th>
    {% if containers %}
    {%for container in containers%}
    <tr>
        <td>{{container.name}}</td>
        <td>{{container.uptime}}</td>
        <td>{{container.time_left}}</td>
        <td>
            <form action="{{url_for('kill_dhbox')}}" id="end_dhbox" method="post">
                <input type="hidden" name="user" value="{{container.name}}">
                <input type="hidden" name="next" value="admin">
                <input class="btn center-block" type="submit" value="Destroy">
            </form></td>
    </tr>
    {%endfor%}
    {%else%}
    No containers
    {% endif %}
</table>
<h2>Container Info</h2>
<br/>
<pre>
{% if containers %}
    {{containers}}
{% endif %}
</pre>
{% endblock %}