{% extends "layout.html" %}
{% block body %}
<div class="dhbox-apps">
    {%if demo%}
    <div class="jumbotron">
        <h1 class="h1-top">
            This is a DEMONSTRATION DHbox
            <i class="fa fa-gift"></i>
        </h1>
        <br>
        <h4 class="highlight">User/pass for all applications:</h4>
        <h4 class="highlight">demonstration/demonstration</h4>
    </div>
    {%endif%}
    <div>
        <br>
        <hr>
        <br>

        <p>This is your DH Box's homepage.</p>
        <br><br>

        <div class="heading"><i class="fa fa-gear"></i> Use Your Tools</div>
        <br>

        <p>Don't forget to read the documentation.</p>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>App</th>
                <th>Documentation</th>
            </tr>
            </thead>
            <tbody>
            {% for app in apps %}
            <tr>
                {% if app['port'] %}
                <td><a href="{{url_for('app_box', the_user=user, app_name=app['name'])}}"
                       class="btn btn-info btn-block btn-custom" target="_blank">{{ app['display-name'] }}</a></td>
                {% else %}
                <td>{{ app['display-name']}}: Accessed through Command Line</td>
                {% endif %}
                <td><a href="https://github.com/DH-Box/dhbox/wiki/{{ app['wiki-page'] }}" target="_blank">https://github.com/DH-Box/dhbox/wiki/{{ app['wiki-page'] }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        <hr>
        <p>
            <a href="http://dhbox.org/terms" target="_blank">Terms of Service</a>
            <br><br>
            Visit <a href="http://dhbox.org/" target="_blank">dhbox.org</a> for more info.
        </p>
        <br><br>

        <form action="{{url_for('kill_dhbox')}}" id="end_dhbox" method="post">
            <input type="hidden" name="user" value="{{user}}">
            <input type="submit" value="Destroy DH Box">
        </form>
    </div>
<!-- End container -->
</div>  <!-- End welcomepage -->
{% endblock %}
