{% extends "layout.html" %}
{% block body %}
<div class="dhbox-signup">
    <div class="row text-center">

        <h2 class="dhbox">You're about to become the owner of a brand new laboratory!</h2>
        <h1>Launch a new DHbox below.</h1>
        Just fill out the information below then click <strong>Launch</strong>.
    </div>
    <div class="row signup-form">
        <form class="userwrapper" role="form" id="the_form" method="post" action="/new_dhbox" novalidate>

                <div class="col-md-4 col-xs-12 form-group">
                    <label for='admin' class="control-label">Your Username:</label>
                    <input type="text" what="users" minlength="1" class='users form-control' id='admin' name='admin' pattern="/^[A-Za-z0-9]$/"
                    required/>
                    <span class="help-block">This is the user with complete control over a new DH Box.</span>
                </div>
                <div class="col-md-4 col-xs-12 form-group">
                    <label for='adminPass' class="control-label">Password:</label>
                    <input type="password" minlength="6" what="passes" id='adminPass' class='passes form-control'
                           name='adminPass' required/>
                    <span class="help-block">Passwords apply for access to: DH Box, Omeka, RStudio.</span>
                </div>
                <div class="col-md-4 col-xs-12 form-group">
                    <label for='adminEmail' class="control-label">Email Address:</label>
                    <input type="email" what="email" id='adminEmail' class='email form-control' name='adminEmail'
                    required/>
                </div>

            <!-- <div>
                Should anyone else - such as students - be able to access this DH Box?
                <br>
               <button type="submit" class="add btn btn-info" id="add"><span class="glyphicon glyphicon-user"></span> Add a user</button>
            </div>
             -->

        </form>
    </div>
            <div class="row">
                <input name="save" id='dhbox_form_submit' type="submit" value="Launch" class="btn btn-lg"/>
            </div>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->

    <div id='failure-modal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Failure"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-header modal-header-danger">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Username or Password Taken</h4>
            </div>
            <div id='inside-failure' class="modal-content">
                Please choose another username and password.
            </div>
        </div>
    </div>
</div>
{% endblock %}
