{% extends "layout.html" %}
{% block body %}
<h1>Administration</h1>
<table class="table table-striped">
<th>Owner</th>
<th>Status</th>
{%for container in containers%}
  <tr>
  	<td>{{container.Names[0][1:]}}</td>
    <td>{{container.Status}}</td>
    <td>
			<form action="{{url_for('kill_dhbox')}}" id="end_dhbox" method="post">
            <input type="hidden" name="user" value="{{container.Names[0][1:]}}">
            <input type="hidden" name="next" value="admin">
            <input type="submit" value="Destroy">
            </form>
    <a class='btn' href=""></a></td>
  </tr>
{%endfor%}
</table>
{{containers}}
{% endblock %}