{% extends "layout.html" %}
{% block body %}
  <h1 class="dhbox">Contact</h1>

  <br>

  <p>We've begun building a community of educators, librarians, and developers organized around increasing the utility of DH Box and DH tools in academia. We plan to add more tools and make improvements based on community input.</p>

  <p>Questions or comments? We'd love to hear from you!</p>

  <p>Email <a href="mailto:hello@dhbox.org?subject=hello%20from%20the%20DH%20Box%20website!">hello [at] dhbox [dot] org</a> or find us on <a href="http://twitter.com/DH_Box" target="_blank">Twitter</a>.</p>

</div>

<br><br>
</div>
{% endblock %}