{% extends "layout.html" %}
{% block body %}
  <h1 class="dhbox">About</h1>

  <br>
  
  <h2 class="dhbox">What is it?</h2>

  
  <p>DH Box is a laboratory in the cloud that can be deployed quickly and easily. It's simply accessed from any computer as long as you've got an internet connection and some contextual knowledge. </p>
  
  <br>

  <p>Ready-to-go configurations of <a href="https://github.com/DH-Box/dhbox/wiki/Omeka" target="_blank">Omeka</a>, <a href="https://github.com/DH-Box/dhbox/wiki/NLTK" target="_blank">NLTK</a>, <a href="https://github.com/DH-Box/dhbox/wiki/IPython" target="_blank">IPython</a>, <a href="https://github.com/DH-Box/dhbox/wiki/R-Studio" target="_blank">R Studio</a>, and <a href="https://github.com/DH-Box/dhbox/wiki/Mallet" target="_blank">Mallet</a> are included in the DH Box platform. Through this praxis friendly environment, professors and students have instant classroom access to a cadre of gold-standard DH tools. Professors will be able to launch a DH computer lab in just a few minutes.</p>
  
  <br>

  <h2 class="dhbox">Why use it?</h2>
  
  <p>With DH Box, faculty have the freedom to integrate DH tools into their curriculum without relying on external server administration or having to deal with labor intensive software installations, firewalls, and operating system configurations.</p>
  
  <br>
  
  <p>DH Box is device agnostic so scholars can research wherever there's an internet connection.</p>
  
  <br>

  <h2 class="dhbox">Who is it ideal for?</h2>
  
  <p>DH Box is being developed for college faculty who have familiarity with DH tools like Omeka, NLTK, R Studio, and Mallet. Do you know what the command line is? Do you know what a server does?</p>
  
  <br>
  
  <p>If you're unfamiliar with any of the above, we recommend you engage with some other resources first. Here are several places we recommend exploring:</p>
  
  <br>
  
  <p class="tab"><a href="http://cli.learncodethehardway.org/book/" target="_blank">The Command Line the Hard Way</a> by Zed Shaw</p>

  <p class="tab"><a href="http://httpd.apache.org/docs/trunk/getting-started.html#other" target="_blank">Computer processing terminology</a> by the Apache Software Foundation</p>
  
  <p class="tab"><a href="http://programminghistorian.org/lessons" target="_blank">Programming Lessons</a> by the Programming Historian</p>
  
  <p class="tab"><a href="http://miriamposner.com/blog/how-did-they-make-that/" target="_blank">How did they make that?</a> deconstructing DH projects by Miriam Posner</p>
  
  <br>
  
  <br>
</div>

<br><br>
</div>
{% endblock %}