{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/modals.css')}}">
<link href="{{url_for('static', filename='bootstrap-dialog.min.css')}}" rel="stylesheet" type="text/css"/>
<script src="{{url_for('static', filename='javascript/bootstrap-dialog.min.js')}}"></script>
<script type="text/javascript">
$( document ).ready(function() {
  var form = $( "form" );
  $( "#demoButtonSubmit" ).click(function(e) {
    $('#modal-content').modal('show');
    e.preventDefault();
    $.ajax({
      url: '{{ url_for('demo')}}',
      type: 'GET',
      success: function(response) {
        console.log(response)
        $('inside-modal').replaceWith('<div>DH Box successfully created.</div>');
        setTimeout(function () {
            alert("Demo DH Box built")
            window.location = '/dhbox/'+response;
            }, 9000);
    }
    }); 
  });
});

</script>

<div class="header-image">
    <div class="headline">
        <div>
            <h1 class="dhbox">DH Box</h1>

            <h2 class="dhbox">A Digital Humanities Laboratory <br> in the Cloud</h2>

            <h3 class="dhbox"> Connect
                //
                <a href="mailto:hello@dhbox.org" target="_blank">
                    <i class="icon icon-email"></i>
                    <span>Email</span>
                </a>
                //
                <a href="http://twitter.com/DH_Box" target="_blank">
                    <i class="icon icon-twitter"></i>
                    <span>Twitter</span>
                </a>
                //
                <a href="http://github.com/DH-Box" target="_blank">
                    <i class="icon icon-github"></i>
                    <span>GitHub</span>
                </a>
                //
                <a href="http://feeds.feedburner.com/DHBoxBlog" target="_blank">
                    <i class="icon icon-rss"></i>
                    <span>RSS</span>
                </a>
                //
                <a href="http://dhbox.commons.gc.cuny.edu/" target="_blank">
                    <i class="icon icon-blog"></i>
                    <span>Blog</span>
                </a>
            </h3>
        </div>
    </div>
</div>
<div>
    <div class="featurette" id="welcome">

        <br>

        <img class="featurette-image img-responsive pull-right"
             src="{{url_for('static', filename='images/dhbox_shell.png')}}">

        <h2 class="featurette-heading dhbox">Ready to stop installing &amp; start exploring?
            <span class="text-muted dhbox">Welcome to DH Box.</span>
        </h2>

        <p class="lead">Setting up an environment for digital humanities computational work can be time-consuming and
            difficult. DH Box addresses this problem by streamlining installation processes and providing a DH
            laboratory in the cloud through simple sign-in via a web browser. The DH Box platform comes pre-equipped
            with essential DH tools such as IPython, RStudio, Omeka, and NLTK.</p>
        <br><br>

        <div><a id='demoButtonSubmit' href="#">DEMO</a></div>
    </div>
    <!-- END THE FEATURETTES -->
</div>


<div id='modal-content' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Progress"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-header modal-header-primary">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Building your Demo DH Box</h4>
        </div>
        <div id='inside-modal' class="modal-content">
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}