{% extends "layout.html" %}
{% block body %}
<h1 class="dhbox">Our Team</h1>
<div class="featurette">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Stephen Zweibel
            <span class="text-muted dhbox">Developer</span>
        </h2>
    </div>
</div>
<div class="featurette">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Patrick Smyth
            <span class="text-muted dhbox"></span>
        </h2>
    </div>
</div>
<div class="featurette">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Evan Misshula
            <span class="text-muted dhbox"></span>
        </h2>
    </div>
</div>
<div class="featurette">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Micki Kaufman
            <span class="text-muted dhbox"></span>
        </h2>
    </div>
</div>
<div class="featurette" id="matt">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Matthew K. Gold
            <span class="text-muted dhbox">Academic Advisor, CUNY Graduate Center</span>
        </h2>
    </div>
</div>
<div class="featurette">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Cailean Cooney
            <span class="text-muted dhbox"></span>
        </h2>
    </div>
</div>
<div class="featurette" id="dennis">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Dennis Tenen
            <span class="text-muted dhbox">Academic Advisor, Columbia University</span>
        </h2>
    </div>
</div>
<div class="featurette">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Harlan Kellaway
            <span class="text-muted dhbox">Project Alumni</span>
        </h2>
    </div>
</div>
<div class="featurette">
    <div class="advisor">
        <h2 class="featurette-heading dhbox">Gioia Stevens
            <span class="text-muted dhbox">Project Alumni</span>
        </h2>
    </div>
</div>
{% endblock %}